body, html {
    background: #da100e;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
}


.header img {
    height: 50px;
}

.content {
}
.intro {
    text-align: center;
}

.intro img {
    margin: 0 auto;
    margin-bottom: 2em;
}

.progress {
    background: white;
    border-radius: 2em;
    width: max-content;
    margin: 1em auto;
}

.bigGraphic {
    display: block;
    margin: 1em auto;
}

.quizSection, .resultsPage {
    border-radius: 1em;
    background-color: white;
    margin: 0 1em;
    padding:  1em;
    text-align: center;
}

.quizSection {
}

.quizline {
    font-family: 'Courier Prime', monospace;
}

.tinyquestionmarks img {
  display: inline-block;
  width: 1em;
  transform: translate(0, 0.25em);
}

.buttons {
   width: max-content;
   margin: 1em auto;
   display: grid;
   grid-template-columns: 20em 20em;
   gap: 1em
}

.nextQuestion {
   height: 5em;
   width: max-content;
   margin: 1em auto;
    
}

.intro a, .resultsPage a, button {
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    background-color: #f0f0f8;
    border-color: black;
    width: 20em;
    text-decoration: none;
}

.intro a, button.undetermined {
    color: #0f3768;
    border-color: #0f3768;
}

@keyframes wiggle {
	0% {transform: translate(0, 0px);}
	25% {transform: translate(0, -5px);}
	50% {transform: translate(0, 5px);}
	75% {transform: translate(0, -5px);}
	100% {transform: translate(0, 0px);}
}

@keyframes wobble {
	0% {transform: translate(0px, 0);}
	25% {transform: translate(-5px, 0);}
	50% {transform: translate(5px, 0);}
	75% {transform: translate(-5px, 0);}
	100% {transform: translate(0px, 0);}
}

button.correct {
    color: #0b9e0c;
    border-color: #0b9e0c;
    font-weight: bold;
	animation: wiggle 0.5s ease;
}

button.incorrect {
    color: #da100e;
    border-color: #da100e;
    font-weight: bold;
	animation: wobble 0.5s ease;
}

.resultspage {
    width: fit-content;
    margin: 1em auto;
}

.resultsText {
    margin: 2em;
    font-size: large;
}


.resultsPage a {
    color: #da100e;
    border-color: #da100e;
}

.links {
    margin: 1em auto;
    width: fit-content;
}
.links img {
    width: 3em;
    margin: 1em;
}

.number {
    color: #da100e
}

.string {
    color:#0b9e0c;
}

.function {
    color: #0f3768;
}

.constructor {
    color: #366eab;
}

.operator {
    color: #bf9f1f;
}
.bold {
    font-weight: bold;
}