body {
    background: #da100e;
}


.content {
background: white;
margin: auto;

border-radius: 2em;
}


.progress {
}

.quizline {
    font-family: 'Courier Prime', monospace;
}

button {
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    background-color: #f0f0f8;
    border-color: black;
    width: 20em;
}

button.undetermined {
    color: #0f3768;
    border-color: #0f3768;
}

@keyframes wiggle {
	0% {transform: translate(0, 0px);}
	25% {transform: translate(0, -5px);}
	50% {transform: translate(0, 5px);}
	75% {transform: translate(0, -5px);}
	100% {transform: translate(0, 0px);}
}

@keyframes wobble {
	0% {transform: translate(0px, 0);}
	25% {transform: translate(-5px, 0);}
	50% {transform: translate(5px, 0);}
	75% {transform: translate(-5px, 0);}
	100% {transform: translate(0px, 0);}
}

button.correct {
    color: #0b9e0c;
    border-color: #0b9e0c;
    font-weight: bold;
	animation: wiggle 0.5s ease;
}

button.incorrect {
    color: #da100e;
    border-color: #da100e;
    font-weight: bold;
	animation: wobble 0.5s ease;
}